h1, h2, h3, h4, h5 h6{
    font-family: 'Combo', cursiva;
}
.Menu{
    width: 100%;
    height: 100px;
    background-color: rgb(250, 158, 204);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Menu .logo a img{
    width:190px;
}
.Enlaces ul{
    list-style: none;
    display: flex;
}
.Enlaces ul li{
    margin-right: 10px;
}
.Enlaces ul li a{
    text-decoration: none;
    font-size: 20px;
    color: aqua;
}
.Enlaces ul li a:hover{
    border-bottom:1PX solid black;
    color: black;
}
.iconos i,
.iconos svg{
    margin-right: 5px;
    color: aliceblue;
    background-color: black;
    border-radius: 10PX;
    padding: 5px 5px;

}
.iconos i:hover,
.iconos svg:hover{
    color: crimson;
    background-color: aqua;
}
/*estilos principal*/
.principal{
    width: 100%;
    height: 700px;
    background-image: url(../Imagenes/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
}
.principal .con-texto{
    width: 200px;
    height: 200px;
    text-align: center;
}
.principal .con-texto h1{
    font-size: 50px;
    color: blacks;
}
.principal .con-texto p{
    font-size: 20px;
    color: fuchsia;
}
.principal .con-texto a{
    font-size: 20px;
    color: rgb(255, 4, 4);
    background-color: black;
    padding: 7px 15px;
    border-radius: 10px;
    text-decoration: none;
}
/*Sesion descuentos*/
.Descuentos{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Descuentos .imagenes-des img{
    width: 300px;
    height: 300px;
}
.imagenes-des{
    width: 80%;
    display: flex;
    justify-content: center
}
.Titulo h2,.productos .Titulo-pro{
    font-size: 50px;
    color: red;
    font-weight: bold;
}
/*Sesion productos*/
.productos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.con-productos{
    width: 100%;
    height: auto;
}
.con-productos .tarjeta-pro{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 1px solid black;
}
.tarjeta-pro img{
    
    height: auto;
}
.tarjeta-pro .contenido{
    width: 100%;
    height: auto;
}
.tarjeta-pro .contenido h3{
    color: rgb(252, 1, 1);
    font-size: 35px;
    font-weight: bold;
}
.tarjeta-pro .contenido p{
    font-size: 20px;
}
.tarjeta-pro .botones{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tarjeta-pro .botones p{
    font-weight: bold;
    color: blue;
}
.tarjeta-pro .botones a{
    background-color: red;
    color: white;
    padding: 7px 12px;
    border-radius: 10px;
    text-decoration: none;
}


